<?xml version="1.0"?>
<config>
    <modules>
       <Quarticon_Quartic>
          <version>0.3.3</version>
       </Quarticon_Quartic>
    </modules>
    <frontend>
        <routers>
            <quartic>
                <use>standard</use>
                <args>
                    <module>Quarticon_Quartic</module>
                    <frontName>quartic</frontName>
                </args>
            </quartic>
        </routers>
        <layout>
            <updates>
                <quartic>
                    <file>quartic.xml</file>
                </quartic>
            </updates>
        </layout>
        <translate>
            <modules>
                <Quarticon_Quartic>
                    <files>
                        <default>Quarticon_Quartic.csv</default>
                    </files>
                </Quarticon_Quartic>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <quartic>
                <class>Quarticon_Quartic_Block</class>
            </quartic>
        </blocks>
        <models>
            <quartic>
                <class>Quarticon_Quartic_Model</class>
            </quartic>
        </models>
        <resources>
            <quartic_setup>
                <setup>
                    <module>Quarticon_Quartic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quartic_setup>
            <quartic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quartic_write>
            <quartic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quartic_read>
        </resources>
        <helpers>
            <quartic>
                <class>Quarticon_Quartic_Helper</class>
            </quartic>
        </helpers>
    </global>
    <default>
        <quartic>
            <config>
                <active>0</active>
                <use_sku>1</use_sku>
                <add_thumbs>0</add_thumbs>
                <only_in_stock>0</only_in_stock>
                <show_disabled_products>1</show_disabled_products>
                <category_use_product_frame>0</category_use_product_frame>
                <min_qty>0</min_qty>
            </config>
        </quartic>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Quarticon_Quartic>
                    <files>
                        <default>Quarticon_Quartic.csv</default>
                    </files>
                </Quarticon_Quartic>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <quartic>
                                            <title>QUARTICON | Quartic</title>
                                        </quartic>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <quartic>
                    <file>quartic.xml</file>
                </quartic>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <quartic>
                <use>admin</use>
                <args>
                    <module>Quarticon_Quartic</module>
                    <frontName>quartic</frontName>
                </args>
            </quartic>
        </routers>
    </admin>
</config>
